@use '../../styles/mixins' as mixin;


.div-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 35px;
    @include mixin.xs{
      gap: 25px;
    }
}

.btn-main{
    width: 268px;
    background-color: #ffbb00; 
    color: #fff; 
    border-radius: 5px; 
    padding: 10px;
    font-size: 18px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /*Au survol*/
    &:hover {
      background-color: #d88585;
    } 
    /*Au clic*/
    &:active {
      background-color: #969896;
    }
    @include mixin.xs{
      width: 200px;
    }
}