footer{
    height: 12%;
    width: 100%;
    background-color: #000000;
    color:white;
    display: flex;
    //flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
   // margin-top: auto;
}
